<!-- <p>
  kavita works!
</p> -->
<!-- <app-root></app-root>
<loopinglist></loopinglist> -->
<!-- <p>{{students}}</p> -->


<!-- property binding  -->
<!-- <img [src]="imageURL" /> -->
 <!-- <img src ="{{imageURL}}"/> -->
<!-- <h2>{{imageURL}}</h2>
<h2 [textContent]="imageURL"></h2> -->

<!-- <table align="center" border="3px">
    <tr>
        <th>sdf</th>
        <th>asgasdf</th>
        <th>asgasdf</th>
        <th>asgasdf</th>
        <th>asgasdf</th>
      </tr>
  <tr>
    <td [attr.colspan]="colspas">sdf</td>
    <td>asgasdf</td>
    <td>asgasdf</td>
    <td>asgasdf</td>
    <td>asgasdf</td>
  </tr>
</table> -->
<!-- <button  [style.background-color]="'blue'" (click)="onSave()">ssave</button>
<input type="text" class="form-control">
<div (click)="onDivClicked()">
  <button (click)="onSave($event)"> eventBubble</button> -->
  <!-- </div> -->

  <!-- <input type="text" [value]="Stud" (keyup)="onKeyUp()">
  <p>{{Stud}}</p>

  <input [(ngModel)] ="email" (keyup)="onKeyup()">
  <p> {{email}}</p>

  <br/>
  <span class="glyphicon glyphicon-asterisk"></span> 
  <br/>
  <span class="glyphicon glyphicon-star"> asdfsd</span>
  <br/> -->
<!-- <div class="text-center">
    {{book.title |uppercase|lowercase}}<br/>
    {{book.rate |number:'2.1-4'}} -->

    <!-- 40.52658978 -->
    <!-- <br/>{{book.publishedDate |date:"MM/dd/yyyy"}}
    <br/>{{book.soldCopies|number}} <br/>
    {{descrip|summary}} <br/>
    <star-component [isStar]="isParent"></star-component> -->
<!-- </div> -->

<direct-chek-component></direct-chek-component>

<nav-component></nav-component>